/* === FOOTER === */
footer {
  background-color: var(--light-red);
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 156px;
}
footer img {
  width: 40px;
  transition: all ease 200ms;
}
footer img:hover {
  cursor: help;
  transform: rotate(180deg);
}
footer p {
  font-size: 14px;
}
footer p a {
  color: inherit;
  text-decoration: none;
  font-family: var(--medium);
}
